doctype html
html(ng-app="todo")
  head
    title 我的简历
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet", href="/lumen/bootstrap.min.css")
    link(rel="stylesheet", href="/font/css/font-awesome.min.css")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/emojione/assets/css/emojione.min.css')
    link(rel='stylesheet', href='css/animate.min.css')
    script(src="/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/angular/angular.min.js")
    script(src="/angular/angular-sanitize.min.js")
    script(src="/emojione/lib/js/emojione.min.js")
  body
    block content
